* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
}

h1 {
	text-align: center;
	font-size: 175%;
}

section {
	position: relative;

	margin: 5px 5px 5px 5px;
	padding: 25px 10px 10px 10px;

	background-color: gray;
	border: 1px solid black;
}

.section-title {
	position: absolute;
	top: -1px;
    right: -1px;

    width: 150px;
	
	background-color: red;
	border: 1px black solid;

	text-align: center;
	font-size: 125%;
}

@media (max-width: 200px) {
	.section-title {
	width: 80%;
	}
}

#chicken {
	background-color: #d49899;
}

#beef {
	background-color: #df4646;
}

#sushi {
	background-color: #e4d09b;
}